Source: forever
Section: unknown
Priority: extra
Maintainer: root <root@komola-lockdown>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/forever.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/forever.git;a=summary

Package: forever
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nodejs-legacy
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
